* {
    padding: 0;
    margin: 0;   
    box-sizing: border-box;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 14px;
}

body {
    width: 100%;
    min-height: 100vh;
    background-color: rgb(253, 218, 221);
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;

}

.instagram-wrapper {
    min-height: calc(100vh - 70px);
    display: flex;
    align-items: center; /*vertical*/
    justify-content: start; /*horizontal*/
    width: 58%; 
    /*height: 100vh;*/
}

.instagram-phone { 
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
}

.instagram-phone img {
    height: 50rem;
}

.instagram-continue {
    display: flex;
    align-items: center; /*horizoltal*/
    justify-content: space-around; /*vertical*/ 
    flex-direction: column; /*inverte eixos*/
    width: 50%;
    min-height: 38rem;  
}

.group {
    display: flex;
    justify-content: space-between;  
    align-items: center;
    flex-direction: column;
    background-color: #ffeef1;
    width: 90%; 
    padding: 1.6rem ; 
    border: 1px solid rgb(245, 194, 211);
}

.group:nth-child(1) {
    min-height: 22rem; 
}

.instagram-logo {
    height: 3.5rem; 
}

.profile-photo {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    overflow: hidden;
}

.profile-photo img {
    height: 6rem;
}

.instagram-login {
    background-color: #f7769c;
    color: #ffffff;
    padding: 8px;
    border-radius: 4px;
}

.instagram-logout {
    color: #f7769c;
    margin-top: 0.3rem;  
}

.not-account {
    color: rgb(160, 160, 160);
    padding: 0.2rem;
    
}

.link-pink {
    color: #f7769c;
}

.get-the-app {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 0.3rem 0; 
}

.get-app{
    color: #f7769c;
}

.download {
    display: flex;
    width: 90%;
    justify-content: space-evenly;
    align-items: center;
    padding: 1.5rem; 
}

.app-download {
    height: 3rem;
    width: 10.3rem;
    background-size:cover;
}

.app-download:nth-child(1) {
    background-image: url('./img/apple-button.png');
}

.app-download:nth-child(2) {
    background-image: url('./img/googleplay-button.png');
}

footer {
    height: 50px;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    padding-bottom:5rem;
    padding-top: 2.5rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center  
  }
.line {
    color: rgb(148, 147, 147);
    padding: 0.6rem;
    font-size: 12.5px;
    line-height: 2;
    
}
select {
    color: rgb(148, 147, 147);
    border: none;
    background-color: rgb(253, 218, 221);;
    text-align-last: center;  
    font-size: 12.5px;
  }


@media (max-width: 1024px) {
    .instagram-wrapper {
        width: 90%;
    }
}

@media (max-width: 650px) {
  

    .instagram-wrapper {
        width: 90%;
    }

    .instagram-phone {
        display: none;
    }

    .instagram-continue {
        width: 100%;
    }
    
    .group {
        border: 1px solid transparent;
    }
    footer{
        text-align-last: center; 
    }    
}